@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "NeuePlak";
  src: url("/fonts/NeuePlak-ExtendedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeuePlak";
  src: url("/fonts/NeuePlak-ExtendedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.bold-neue {
  font-family: "NeuePlak", sans-serif;
  font-weight: bold;
}

.reg-neue {
  font-family: "NeuePlak", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: SemiBold ;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: light;
  font-style: normal;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: SemiBold;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.parent-hover:hover .child-hover {
  margin-left: 1rem;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 464px;
  text-align: center;
  transition: transform 0.54s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
