@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "NeuePlak";
  src: url("/fonts/NeuePlak-ExtendedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeuePlak";
  src: url("/fonts/NeuePlak-ExtendedBold.ttf") format("truetype");
  font-weight: bold; 
  font-style: normal;
}

.bold-neue {
  font-family: "NeuePlak", sans-serif;
  font-weight: bold;
}

.reg-neue {
  font-family: "NeuePlak", sans-serif;
  font-weight: normal;
}